<div class="container">
  <h1 class="text-center font-weight-bold">SBSSとはどんなサイト？</h1>
  <div class="d-flex justify-content-center">
    <div class="text-center my-3 pt-3 px-4 bg-white text-border">
      <p>当サイトは自宅で置物になってる紙の本の保管を依頼したり、</p>
      <p>処分（売買や寄付など）を依頼したりすることができる</p>
      <p>本専門のサービスサイトになります</p>
      <p>SBSSは「Save book storage space」の略で、</br>
      「本の収納スペースを節約」を意味します。</p>
      <p>突然ですが...</p>
      <h5>↓↓↓こんな状況ないですか?↓↓↓</h5>
      <div class="text-left text-border p-3 mb-3">
        <li>読まなくなった本を効率よく処分したい</li>
        <li>本を減らして居住スペースを確保したい</li>
        <li>災害時の備えとして保管サービスを利用したい</li>
      </div>
      <p>当サイトでは上記のような状況に応じて利用可能なサービスになっております。</p>
      <p>ぜひご活用してください!</p>
    </div>
  </div>
</div>