<div class="container">
  <h1 class="text-center">このサイトについて</h1>
  <div class="d-flex justify-content-center">
    <div class="text-center my-3 p-4 bg-white text-border">
      <p>自宅で置物になってる紙の本の保管を依頼したり、</p>
      <p>処分（売買や寄付など）を依頼したりすることができる</p>
      <p>本専門のサービスサイトになります</p>
      <p>読まなくなった本を効率よく処分したいと考えている人</p>
      <p>置物になっている本を減らして居住スペースを確保したいと考えてる人</p>
      <p>災害時の備えとして保管サービスを利用したいと考えてる人</p>
      <p>様々な状況に応じて利用可能です。</p>
      <p>ぜひご活用してください。</p>
    </div>
  </div>
</div>