<div class="container">
<h1 class="text-center">ようこそ、SBSSへ！</h1>
  <div class="row mt-4">
    <div class="mx-auto p-4">
      <p>このサイトは、<strong>本に関するお困りごとを解決するサービスサイト</strong>になります。</p>
      <p>会員でない方もゲストとしてサービスの閲覧はできますが、</p>
      <p>購入には<%= link_to "会員登録",new_customer_registration_path %>が必要になります。</p>
    </div>
  </div>
</div>