<div class="container">
  <div class="row">
    <div class="col-3 m-auto">
      <h3 class="text-center"><%= link_to '管理者ログイン', new_admin_session_path %></h3>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="mx-auto" style="padding: 100px;">
          <p>ようこそ、SBSSへ！</p>
          <p>このサイトは、本に関するお困りごとを解決するサービスサイトになります。</p>
          <p>会員でない方もゲストとしてサービスの閲覧はできますが、</p>
          <p>購入には会員登録が必要になります。</p>
        </div>
      </div>
    </div>
  </div>
</div>