<div class="container">
  <h2 class="font-weight-bold my-3">問い合わせ履歴一覧</h2>
  <% if @questions.any? %>
  <div class="row m-2">
    <table class="table table-bordered">
      <thead bgcolor="#c0ffc0">
        <tr>
          <th>申請日</th>
          <th>タイトル</th>
          <th>ステータス</th>
          <th>詳細はこちら</th>
        </tr>
      </thead>
      <tbody bgcolor="#FFFFF0">
        <% @questions.each do |question| %>
        <tr>
          <td><%= question.created_at.strftime('%y/%m/%d') %></td>
          <td><%= question.questions_name %></td>
          <td><% if question.is_answer %>
              <p class="text-secondary font-weight-bold">回答済み</p>
            <% else %>
              <p class="text-success font-weight-bold">未回答</p>
            <% end %>
          </td>
          <td><%= link_to "表示する", question_path(question.id), class:"btn btn-primary" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% else %>
  <div class="row mt-4">
    <div class="pl-3">
      <p>データがありません</p>
      <P>問い合わせフォームは<%= link_to "こちら",new_question_path %></P>
    </div>
  </div>
  <% end %>
</div>