<div class="container">
  <div class="py-3">
  <h3 class="font-weight-bold ml-4">お問い合わせフォーム</h3>
    <%= form_with model: @question, url: confirm_questions_path, method: :post do |f| %>
  <div class="d-flex justify-content-center mx-4 py-3 bg-white text-border">
    <table>
      <tbody>
        <tr>
          <td>問い合わせ名</td>
          <td><%= f.text_field :questions_name, placeholder:"質問のタイトルはこちらに", size: 35 %></td>
        </tr>
        <tr>
          <td>問い合わせ内容</td>
          <td><%= f.text_area :questions_introduction, placeholder:"ここに説明文を記述願います", size: "38x5" %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center m-1">
    <%= f.submit '確認画面へ', class:"btn btn-success m-2 px-4 py-2" %>
  </div>
  <% end %>
  </div>
</div>