<div class="container">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h1>貴重なご意見ありがとうございます。<br>今後ともよろしくお願いいたしします。</h1>
  </div>
  <div class="row">
    <%= link_to "問い合わせ履歴を見る",questions_path, class:"btn btn-secondary" %>
  </div>
</div>