<div class="container">
  <div class="row d-flex align-items-center justify-content-center" style="height:300px;">
    <h1 class="font-weight-bold">ご注文ありがとうございました!</h1>
  </div>
  <div class="row d-flex align-items-center justify-content-center">
    <p>注文したサービスは<%= link_to "こちら",requests_path %>で確認</p>
  </div>
</div>