<<div class="container p-4">
  <h3 class="font-weight-bold my-3 ml-5">問い合わせリスト</h3>
  <div class="row m-auto p-auto">
    <table class="table">
      <thead>
        <tr>
          <th>問い合わせID</th>
          <th>問い合わせ名</th>
          <th>回答ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @questions.each do |question| %>
        <tr>
          <td><%= question.id %></td>
          <td><%= link_to question.questions_name, admin_question_path(question.id) %></td>
          <td>
            
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>