<div class="container p-4">
  <h3 class="font-weight-bold ml-5">問い合わせ詳細</h3>
  <div class="row m-3">
    <div class="col mr-auto">
      <div class="row">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th>問い合わせ名</th>
              <td><%= @question.questions_name %></td>
            </tr>
            <tr>
              <th>詳細説明</th>
              <td><%= @question.questions_introduction %></td>
            </tr>
            <tr>
              <th>問い合わせ回答</th>
              <td><%= @question.questions_solution %></td>
            </tr>
            <tr>
              <th>回答ステータス</th>
              <td>
                <% if @question.is_answer %>
                  <p class="text-secondary font-weight-bold">回答済み</p>
                <% else %>
                  <p class="text-success font-weight-bold">未回答</p>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to "編集する",edit_admin_question_path, class:"btn btn-success m-3 py-2 px-4" %>
  </div>
</div>